@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-weight: 300;
}

ul {
  list-style-type: none;
}
input {
  border: 1px solid;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
}

button {
  /* background: whitesmoke; */
  padding: 10px;
  border-radius: 4px;
}
